html,body {
    height:100%;
    margin:0;
    padding:0;
    font-size:100%
    }
    
    body {
    display:flex;
    flex-direction:column;
    font-family:'San Francisco',sans-serif;
    background-color:#2c2c2c;
    color:#fff;
    overflow-x:hidden
    }
    
  .header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    display:flex;
    flex-direction:column;
    background-color:#000;
    padding:0;
    height:45px;
    overflow:hidden
    }
    
    
    .container {
    margin-top:45px
    }
    
    .header h1 {
    margin:0;
    font-size:1.2em;
    color:#fff
    }
    
    .nav {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#000;
    padding:0
    }
    
    .nav a {
    color:#666;
    text-decoration:none;
    padding:10px 20px;
    font-size:1.2em;
    font-weight:700;
    transition:color .3s;
    margin:0
    }
    
    .nav a:hover {
    color:#fff
    }
    
    img {
    display:block;
    margin:0;
    padding:0
    }
    
    .movie-details {
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:45px;
    width: 100%;
    }

    .details-container {
      min-width: 100%;
  }
    
    .details-content {
      max-width: 90%; /* Limitar el ancho máximo */
      max-height: 100%;
      margin: 0 auto; /* Centra el contenido */
      padding: 0%; /* Espaciado interno */
      box-sizing: border-box; /* Incluye padding y border en el ancho total */
  }
    
  .details-content img {
    height: 720px; /* Altura fija */
    width: 100%; /* Ancho del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
}
    
    .details-row {
    display:flex;
    align-items:center;
    gap:20px;
    width:100%;
    box-sizing:border-box;
    margin:0
    }
    
    .info {
    display:flex;
    flex-direction:column;
    padding:1%;
    background-color:#000;
    color:#fff;
    box-shadow:0 4px 8px #00000080;
    border-radius:0 0 20px 20px;
    margin:0 auto;
    box-sizing:border-box;
    flex:1;
    min-width:0
    }
    
    .info h3 {
    font-size:2em;
    margin:1rem 0;
    flex-shrink:1
    }
    
    .info p {
    margin:.5rem 0;
    font-size:1em;
    color:#ddd;
    flex-shrink:1;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal
    }
    
    .movie-title-description {
    display:flex;
    flex-direction:column;
    margin-left:10px;
    width:100%;
    max-width:1000px;
    height:auto;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal
    }
    
    .movie-title-description h3 {
    font-size:1.5em;
    margin:0;
    margin-bottom:20px
    }
    
    .movie-title-description p {
    font-size:1em;
    margin:0
    }
    
    .actions {
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:stretch;
    width:100%;
    max-width:300px;
    margin:0
    }
    
    .actions a,.actions button {
    text-align:center;
    background-color:#fff;
    color:#000;
    border:none;
    padding:.5rem 1.5rem;
    border-radius:8px;
    cursor:pointer;
    text-decoration:none;
    font-size:1.2em;
    width:100%;
    box-sizing:border-box
    }
    
    .actions a:hover,.actions button:hover {
    background-color:#e6e6e6;
    color:#000
    }
    
    .footer {
    text-align:center;
    padding:1rem;
    background-color:#2c2c2c;
    color:#8a8a8a;
    width:100%;
    margin-top:auto
    }
    
    .movie-meta {
    margin:5px 0
    }
    
    .movie-meta p {
    margin:2px 0;
    line-height:1.2
    }
    
    .movie-meta.row {
    align-items:right;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin:0
    }
    
    .movie-meta.row .col {
    display:flex;
    align-items:center;
    margin-right:50px
    }
    
    .movie-meta.row .col:last-child {
    margin-right:0
    }
    
    .movie-meta.row .col p {
    margin:0;
    line-height:1.2
    }
    
    .movie-meta.row .col strong {
    margin-right:.5rem
    }
    
    .similar-movies {
    margin-top:40px;
    padding:0px;
    background-color:#2c2c2c;
    border-radius:0;
    color:#fff;
    box-shadow:0 4px 10px #0000;
    width:85.8%;
    max-width:100%;
    margin:3% 5% 0% 7%;
    border-top:1px solid #3a3a3a
    }
    
    .similar-movies h2 {
    text-align:left;
    font-size:1em;
    margin-bottom:20px;
    font-weight:700;
    letter-spacing:1px
    }
    
    .similar-movie-list {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start
    }
    
    .similar-movie-list .movie-item {
    position:relative;
    margin:10px;
    text-align:center;
    width:250px;
    background-color:#1c1c1c;
    border-radius:8px;
    overflow:hidden;
    transition:transform 0.3s,box-shadow .3s;
    box-shadow:0 2px 5px #0000004d
    }
    
    .similar-movie-list .movie-image-container {
    position:relative
    }
    
    .similar-movie-list.empty {
    justify-content:flex-end
    }
    
    .similar-movie-list .movie-item:hover {
    transform:scale(1.05);
    box-shadow:0 4px 10px #00000080
    }
    
    .similar-movie-list .movie-item img {
    width:100%;
    height:130px;
    object-fit:cover
    }
    
    .similar-movie-list .movie-item h3 {
    font-size:.7em;
    margin:10px 0;
    color:#fff
    }
    
    .similar-movie-list .movie-info {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:#0000004d;
    color:#fff;
    padding:0;
    text-align:center
    }

    @media (min-width: 1436px){

      .details-content img {
        height: 520px; /* Altura fija */
        width: 100%; /* Ancho del contenedor */
        object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
    }
  
  }
    
    @media (max-width: 1200px) {
      .details-container {
          min-width: 100%;
      }
      .details-content{
        margin:0 0% 0% 7%;
    }
  
    .details-content {
      max-width:110%;
      width:90%;
      margin:0 0% 0% 7%
      }

        .similar-movies{
        margin-left: 10%;
      }
      .details-content img {
        max-width: 100%;
        height: auto;
        min-width: 70%; /* Cambiado a porcentaje */
        min-height: auto; /* Se elimina el valor fijo */
    }
  }
  
  @media (max-width: 768px) {
      .details-container {
          min-width: 100%;
      }
  
      .details-content img {
          max-width: 100%;
          height: auto;
          min-width: 70%; /* Cambiado a porcentaje */
          min-height: auto; /* Se elimina el valor fijo */
      }
  
      .info {
          max-width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
      }
  
      .info > * {
          margin-bottom: 5%; /* Cambiado a porcentaje */
          max-width: 100%;
      }
  
      .actions {
          width: 100%;
      }
  
      .actions a, .actions button {
          padding: 2%; /* Cambiado a porcentaje */
          font-size: 100%; /* Cambiado a porcentaje */
      }
  
      .nav {
          flex-direction: column;
          align-items: center;
      }
  
      .nav a {
          font-size: 100%; /* Cambiado a porcentaje */
          padding: 2%; /* Cambiado a porcentaje */
      }
  
      .movie-title-description {
          max-width: 100%;
          margin-left: 0;
      }
  
      .movie-title-description h3 {
          font-size: 100%; /* Cambiado a porcentaje */
          margin-bottom: 5%; /* Cambiado a porcentaje */
      }
  
      .movie-title-description p {
          font-size: 4%; /* Cambiado a porcentaje */
      }

      .similar-movies{
        margin-left: 10%;
      }
      .movie-meta.row{
        max-width: 100%;
      }
  }
  
  @media (max-width: 480px) {
      .header {
          height: auto;
          padding: 5%; /* Cambiado a porcentaje */
      }
  
      .header h1 {
          font-size: 4%; /* Cambiado a porcentaje */
      }
  
      .movie-title-description h3 {
          font-size: 5%; /* Cambiado a porcentaje */
          margin-bottom: 0;
      }
  
      .movie-title-description p {
          font-size: 4%; /* Cambiado a porcentaje */
      }
  
      .movie-meta.row .col {
          flex-direction: column;
          align-items: flex-start;
      }
  
      .movie-meta.row .col p {
          font-size: 4%; /* Cambiado a porcentaje */
      }
  
      .movie-meta.row .col strong {
          font-size: 4%; /* Cambiado a porcentaje */
      }
  
      .details-content img {
          max-width: 100%;
          height: auto;
          min-width: 80%; /* Cambiado a porcentaje */
          min-height: auto; /* Se elimina el valor fijo */
      }
  
      .info h3 {
          font-size: 5%; /* Cambiado a porcentaje */
      }
  
      .info p {
          font-size: 4%; /* Cambiado a porcentaje */
      }
  
      .info {
          padding: 5%; /* Cambiado a porcentaje */
      }
  
      .actions a, .actions button {
          font-size: 4%; /* Cambiado a porcentaje */
      }
      .similar-movies{
        margin-left: 20%;
      }
  }