/* Estilos generales para el cuerpo */
body {
    font-family: 'Roboto', sans-serif; /* Usar la misma fuente que en index.css */
    background-color: #252525; /* Color de fondo */
    color: #fff; /* Color de texto blanco */
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
/* Estilos para el encabezado */
.header {
    background-color: #000;
    padding: 10px; /* Reduce el padding para hacer el encabezado más pequeño */
    text-align: center;
}

.header h1 {
    margin: 0; /* Eliminar márgenes */
    font-size: 1.8em; /* Ajustar el tamaño de la fuente a un tamaño más pequeño */
}

/* Estilos para la navegación */
.nav {
    display: flex;
    justify-content: center;
    background-color: #333; /* Color de fondo gris oscuro */
    padding: 10px 0;
}

.nav a {
    color: #fff; /* Color de texto blanco */
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.1em;
}

.nav a:hover {
    background-color: #575757; /* Color de fondo al pasar el mouse */
}

/* Estilos para el contenedor principal */
main {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar el contenedor */
    padding: 20px; /* Espaciado interno */
    background-color: #222; /* Fondo gris oscuro para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
}

/* Estilos para los grupos de formulario */
.form-group {
    margin-bottom: 15px; /* Espacio entre grupos */
}

/* Estilos para los campos del formulario */
input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #444; /* Borde del campo */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #333; /* Fondo del campo oscuro */
    color: #fff; /* Color del texto */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Estilo específico para el área de texto */
textarea {
    height: 100px; /* Altura específica para el área de descripción */
    resize: vertical; /* Permitir que el usuario cambie la altura */
}

/* Estilo para el botón de envío */
button {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1em; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

/* Efecto hover para el botón */
button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación */
}