/* Estilos generales para el cuerpo */
body {
    font-family: 'Roboto', sans-serif; /* Usar la misma fuente que en index.css */
    background-color: #252525; /* Color de fondo */
    color: #fff; /* Color de texto blanco */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajustar el tamaño del cuerpo */
}

/* Estilos para el encabezado */
.header {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
    display: flex;
    flex-direction: column; 
    background-color: #000; 
    padding: 0; /* Puedes ajustar el padding aquí */
    height: 45px; /* Establecer una altura fija */
    overflow: hidden; /* Evitar que el contenido empuje el tamaño del header */
}

.header .nav {
    display: flex; /* Usar flexbox para alinear los enlaces horizontalmente */
    justify-content: space-between; /* Espacio entre los enlaces y el contenedor de búsqueda */
    align-items: center; /* Alinear verticalmente todos los elementos */
}

/* Contenedor principal */
.container {
    flex: 1; /* Esto permite que el contenedor principal ocupe el espacio restante */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
    overflow-y: auto; /* Ajustar el desplazamiento vertical */
}

/* Estilos para el footer */
.footer {
    text-align: center; /* Centrar el texto del footer */
    padding: 20px;
    background-color: #000; /* Mismo fondo que en otras páginas */
    color: #fff; /* Asegurarnos de que el texto sea blanco */
    position: relative; /* Asegurarse de que esté en su lugar */
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Asegura que el footer se empuje hacia el fondo */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra para el footer */
}

/* Estilos para botones */
button {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1em; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para el botón */
}

button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más oscura al pasar el mouse */
}